h1{
	color: #00009f;
	background-color: #cccccc;
}

li{
	color: #555577;
}

a{
	text-decoration: none;
	color: #00007f;
	background-color: yellow;
}
a:hover{
	background-color: #00007f;
	color: yellow;
}

.quote{
	background-color: lightpink;
	width: 500px;
	text-align: center;
	font-size: xx-large;
}

td{
	color: #888888;
}

input.ng-dirty{
	background-color: lightblue;
}

input.ng-touched {
	background-color: lightyellow;
}

input.ng-invalid {
	color: red;
}

input.ng-valid {
	color: black;
}